async-generator 
attrs
beautifulsoup4
certifi
cffi
charset-normalizer
cryptography
DateTime
fake-useragent
h11
HTMLParser
idna 
lxml
numpy
outcome
pandas
pycparser
PyMySQL
PySocks
python-dateutil
pytz
requests
schedule
selenium
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
tk
trio
trio-websocket
urllib3
wsproto
zope.interface
